<%#= simple_form_for @input_reader, user_path: '' do |f| %>
  <%#= f.input :grid_size %>
  <%#= f.input :grid_state %>
  <%#= f.button :submit %>
<%# end %>

<%= simple_form_for :fake_object, url: '', method: :post do |f| %>
  <div class="form-group">
    <%= f.input :num_generazione, label: "Num. generazione", placeholder: "Inserisci il tuo nome" %>
  </div>
  <div class="form-group">
    <%= f.input :file, label: "File", placeholder: "Inserisci la tua email" %>
  </div>
  <%= f.submit "Invia", class: "btn btn-primary" %>
<% end %>
